# MacOS

**/.DS_Store

# LaTeX

*.pdf
!graphics/*.pdf

**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fls
**/*.gz
**/*.nav
**/*.*latexmk
**/*.log
**/*.out
**/*.snm
**/*.synctex*
**/*.toc
**/*.upa
**/*.upb
**/*.run.xml
**/*.vrb

__latexindent_temp.tex
pdfa.xmpi
